
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
h1,h2,h3,h4,h5,h6,p {
 margin: 0;   
}
ul,
li {
list-style-type: none; 
padding: 0;
margin: 0;
}
img {
display: block;
max-width: 100%;
height: auto;
}
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
.card-set {
display: flex;
flex-wrap: wrap;
row-gap: 48px;
column-gap: 24px;
}
.card-set-item {
width: calc((100% - 48px) / 3);
box-sizing: border-box;
}
.section {
  padding: 120px 0; 
}

/* region Header */
.header {   
border-bottom: 1px solid #e7e9fc;
}
.header-container {
    display: flex;
}
.main-logo {
   font-family: "Raleway", sans-serif;
   font-weight: 700;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #4d5ae5;
   text-decoration: none;
   margin-right: 76px;
        }
.logo-part {
 color: #2e2f42;
 }
.studio-text {
    color: #2e2f42;
}
.header-nav {
 display: flex; 
 align-items: center;
 justify-content: space-between;  
}
.header-nav-list {
 display: flex; 
 align-items: center;
 gap: 40px;
}

.address-list {
display: flex;
align-items: center;
gap: 40px;
}
.header-menu {
 display: block;
 padding: 24px 0;
 color:#2E2F42;
 font-weight: 500;
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.02em;
 text-decoration: none;
}
.header-menu::after {
 content: "";
 display: block;
 width: 100%;
 height: 4px;
 border-radius: 2px;
 background: transparent;
}
.header-menu.active::after {
    background: #404bbf;
}
.header-menu:hover,
.header-menu:focus {
color: #404bbf;
}
.header-contacts a:hover {
color: #404BBF;
}
.header-contacts a:focus {
    color: #404BBF;
    text-decoration: underline;
}

.address {
display: flex;
align-items: center;
font-style: normal;
margin-left: auto;
}
.header-info {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.header-info:hover,
.header-info:focus {
    color: #404bbf;
}
/* endregion */

/* region Hero */
.hero-section {
    padding: 188px 0;
    background-image: 
     linear-gradient(rgba(46, 47, 66, 0.7),
     rgba(46, 47, 66, 0.7)),
     url(../images/hero/people-office\ 1.jpg);
}
.hero-title {
    max-width: 496px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 1.12px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}
.main-button {
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    color: #FFFFFF;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.64px;
    cursor: pointer;
}
.main-button:hover {
    background-color: #404BBF;
}
.main-button:focus {
background-color: #404BBF;
}
/* endregion */

/* region Values */
.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}
.values-list {
    display: flex;
    gap: 24px;
    }
.values-item {
    width: calc((100% - 72px) / 4);
    }
.values-caption {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

.values-desc {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
/* endregion */

/* region Team */
.team-section {
    padding: 120px 0;;
    background-color: #F4F4FD;
}
.team-info {
 padding: 32px 0;
 text-align: center;   
}
.team-title {
    margin-bottom: 72px;
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.team-list {
    display: flex;
    gap: 24px;
}
.team-item {
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    overflow: hidden;
    background-color: #FFFFFF;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
     0 1px 1px 0 rgba(46, 47, 66, 0.16),
     0 1px 2px 0 rgba(46, 47, 66, 0.08);
 }
.team-caption {
margin-bottom: 8px;
text-align: center;
color: #2e2f42;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.4px;
}

.team-desc {
color: #434455;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.32px;
}
/* endregion */

/* region Portfolio */
.portfolio-item {
width: calc((100% - 48px) / 3);
box-sizing: border-box;
}
.portfolio-info {
padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;
}
.portfolio-title {
    margin-bottom: 72px;
    color: #2e2f42;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}

.portfolio-caption {
    margin-bottom: 8px;
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.portfolio-desc {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;

}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    --indent-row: 48px;
    --indent-col: 24px;
    --items: 3;
}
/* endregion */

/* region Footer */
.footer {
    padding: 100px 0;
    background-color: #2E2F42;
}
.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}

.logo-text {
    color: #f4f4fd;
}
.footer-desc {
    max-width: 264px;
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.footer-title {
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 0.32px;
}
.values-icon {
    background-color: #c71818;  
}
